[project]
	description = some code
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/refathasan
[access "refs/for/refs/*"]
	read = group user/refathasan
	push = group user/refathasan
	label-Code-Review = -2..+2 group user/refathasan
	label-Verified = -1..+1 group user/refathasan
	rebase = group user/refathasan
	removeReviewer = group user/refathasan
	submit = group user/refathasan
[access "refs/heads/*"]
	read = group user/refathasan
	create = group user/refathasan
	push = +force group user/refathasan
	pushMerge = group user/refathasan
[access "refs/tags/*"]
	push = group user/refathasan
	push = +force group user/refathasan
